services:
        countdown:
                container_name: countdown
                build: .
                environment:
                        - SCHEDULE_FILE=./schedules/schedule.toml
                ports:
                        - "8080:8080"
                volumes:
                        - type: bind
                          source: ./src
                          target: /usr/src/app/src
                        - type: bind
                          source: ./server.js
                          target: /usr/src/app/server.js
                        - type: bind
                          source: ./schedule.js
                          target: /usr/src/app/schedule.js
                        - type: bind
                          source: ./schedules
                          target: /usr/src/app/schedules
