html, body{
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-weight: 100;
	font-size: 20px;
}

table, th, td {
  border: 1px solid black;
	text-align: center;
}

table {
	border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #CCCCCC;
}
