html, body{
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-weight: 100;
	font-size: 20px;
}

.session-info {
	text-align: center;
}

.time-box {
	display: inline;
}

.time-text {
	font-size: 36pt;
	padding: 0;
	margin: 0;
}

.time-container {
	display: inline-block;
}

#timer {
	position: relative;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 100pt;
	top: 0;
	left: 0;
}

#session-info-container {
	text-align: center;
	font-size: 36pt;
}
