html, body{
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-weight: 100;
  font-size: 20px;
	background-color: green
}

#Background {
	width: 100%;
	height: 90%;
	text-align: center;
	color: white;
	padding: 10% 0;
	font-weight: bold;
	font-size: 400px;
}

#Footer {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 5%;
	bottom: 0px;
	background-color: inherit;
}
